*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body{
    text-align: center;
    margin: 10px;
    padding: 10px;
}

#bold{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: blue;
}
ul>li{
    text-align: left;
    padding: 5px;
    color: brown;
}

ol>li{
    text-align: left;
    padding: 10px;
    color: brown;
}
.container{
    width: 600px;
    height: auto;
    margin: 0 auto;
    background-color: lightgray;
}
.center{
    width: 400px;
    height:auto;
}
p{
    color: brown;
}